* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}
/*navbar*/
#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}



.logo
{
    position:absolute;
    top:60px;
	margin-left:40%;
    width:180px;
    height:180px;
}
h1
{
    text-align: center;
    margin-top:18%;
}

.icon{
    color: black;
    font-size: 2rem;
    
}
.jumbotron{
	background-image:url("jombotron.jpg");
	background-size:1366px 768px;
	background-attachment:fixed;
	margin-top:-7%;
	height:570px;
}


.header {
    text-align: center;
    padding: 32px;
}

.hr1 { 
    display: block;
    margin-top:-0.6em;
    margin-bottom: 0.5em;
    margin-left: 15%;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
	
p
{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.grad1
{
    text-align: center;
}

/*arrow*/
.arrow-down{
	width:100%;
	margin:0 auto;
	text-align:center;
	cursor:pointer;
	}
	.arrow-down::after{
		content:"";
		width:30px;
		height:30px;
		position:absolute;
		margin:auto;
		margin-top:30%;
		right:0;
		bottom:0;
		left:0;
		border-right:4px solid #fff;
		border-bottom:4px solid #fff;
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
		-webkit-animation: 3s arrow infinite ease;
		animation:3s arrow infinite ease;
		}
		
 @-webkit-keyframes arrow{
	0%, 100%{
		top:50px;
			}
	50%{
		top:80px;
		}
	}
			
@keyframes arrow{
	0%, 100%{
		top:50px;
			}
	50%{
		top:80px;
			}
	}

.secdata {
width: 20rem;
}
.grad1 
{
    height: 280px;
    background: grey; /* For browsers that do not support gradients */
    background: linear-gradient();
}
.left_div
{
    transition-duration: 4000ms;
}
dropdown
{
    box-shadow: 2px 2px 2px black;
    border:black;
    border-radius:5px;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 5px;
    border-color: black;
    border-radius: 4px;
    border-color: cornsilk;
}

.card:hover {
  box-shadow: 0 2px 105px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
    width:auto;
    height:auto;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: fixed;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #1e88e5;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: black;
  text-decoration: none;
}
.data
{
    align-content: center;
    padding:2px;
}
.border1{
	border-radius:1px;
	border-color:#d9d9d9;
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:none;
	}
	
table
{
    border-collapse: collapse;
    width:100%;
}
th,td
{
    text-align: center;
    padding:8px 5px 0px 8px;
}
tr:nth-child(even) {background-color:#f2f2f2}
.color
{
    background-color: #737373;
}
.left-div
{
    text-align:center;
    padding-left: 3px;
    padding-right: 3px;
    border:1px solid #d9d9d9;
    border-bottom-color:white;
    border-top-color:white;
	 border-right-color:#d9d9d9;
}

.right-div
{
    padding-left: 3px;
    padding-right: 3px;
    border:1px solid white;
    border-bottom-color:white;
    border-top-color:white; 
}
.k:hover
{
    color:white;
    background-color:#4286f4;
}
.image
{
    width:300px;
    height:220px;
    padding-left: 10px;
}
.cont
{
	 padding-left: 15px;
    	padding-right: 15px;
}

/*sahoverm*/
.sahoverm {
   
    width: 30%;
	cursor:pointer;
}

.image {
  opacity: 1;
  display: inline-block;
  width: auto;
  height:auto;
  transition: .8s ease;
  backface-visibility: hidden;
   -ms-transform: translate(-50%, -50%);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.sahoverm:hover .image {
margin-top:50%;
       opacity: 0.9;
	   border-radius:10% 22% 10% 22%;
	   cursor:pointer;
}

.sahoverm:hover .middle {
	
  opacity: 1;
}
/*images-alumini*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
